body {
  background-color: #191765;
  margin: 0;
}

.flex,
.contact ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

header p {
  padding-left: 2em;
  font-weight: 500;
  font-size: 24px;
  line-height: 16px;
  color: #fff;
  width: 30%;
}

.foot-button {
  top: 8em;
  left: 21em;
}

.relate,
.wrapiii li,
.button4,
.button3,
.button2,
.button1,
.wrapiv li,
.wrapv li,
.wrapvi li {
  position: relative;
}

header p,
.name,
.titles,
.second-text,
.skill li,
.frame li,
.language li,
.work p,
.work1 p,
.recent,
.project-title,
.project-title1,
.project-title2,
.contact h2,
.ending p,
nav a,
h3,
.contact h3,
.project-title3 {
  font-family: Roboto, sans-serif;
}

.project-des,
.wrapiii li,
.project-des1,
.wrapiv li,
.project-des2,
.wrapv li,
.project-des3,
.foot-text,
textarea,
.wrapvi li {
  font-family: Inter, sans-serif;
}

.second-text,
.name,
.titles,
.skill li,
.language li,
.frame li,
.work p,
.work1 p,
.recent,
.project-title,
.project-des,
.wrapiii li,
.project-title1,
.project-des1,
.project-title2,
.wrapiv,
.project-des2 li,
.wrapv li,
.project-title3,
.project-des3,
.foot-text,
.ending p,
textarea,
nav a,
.contact h3,
.wrapvi li {
  font-style: normal;
}

.second-text,
.skill li,
.frame li,
.language li,
.project-des,
.project-des1,
.project-des2,
.contact h2,
.foot-text,
.ending p,
textarea,
.project-des3 {
  font-weight: normal;
}

.nav-img,
.circle,
.project-img,
.project-img1,
.project-img2,
.project-img3 {
  background-size: cover;
}

.nav-img,
.circle,
.project-img,
.eclipse,
.project-img1,
.project-img2,
.project-img3 {
  position: absolute;
}

.wrapi li,
.wrapiii li,
.wrapiv li,
.wrapv li,
.contact li,
.wrapvi li {
  list-style: none;
}

.button4,
.button3,
.button2,
.foot-button,
.button1 {
  width: 89px;
  height: 48px;
  background: #7d73fc;
  border: none;
  top: 1em;
  color: #edecff;
}

.button4:active,
.button3:active,
.button2:active,
.foot-button:active,
.button1:active {
  background: #5e42d7;
  color: #eaeaf6;
}

.button4:hover,
.button3:hover,
.foot-button:hover,
.button2:hover,
.button1:hover {
  background: #7d73fc;
  box-shadow: 0 8px 16px  rgba(125, 115, 252, 0.48);
}

.grid-wrap {
  height: 90%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 10%;
}

.nav-img {
  display: none;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding-right: 1.5em;
}

nav {
  width: 44%;
  align-self: end;
  bottom: 3em;
  left: 16em;
}

a:last-child {
  top: 0.3em;
}

.landiing-text {
  align-items: center;
}

.name {
  font-size: 90px;
  line-height: 105px;
  color: #9391ff;
}

.titles {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  color: #dfe1e6;
  bottom: 2em;
}

.second-text {
  font-size: 20px;
  line-height: 32px;
  color: #b3bac5;
  width: 43%;
  text-align: center;
  bottom: 4em;
}

.line1 {
  height: 10px;
  width: 43%;
  border-bottom: 2px solid #646369;
}

.wrapi {
  flex-direction: row;
  width: 43%;
  height: 40%;
  left: 30em;
}

.skill li {
  color: #f5f5ff;
  font-size: 15px;
  line-height: 24px;
  padding-top: 17px;
}

.wrapi ul {
  padding-right: 5em;
}

.frame li {
  color: #f5f5ff;
  font-size: 15px;
  line-height: 24px;
  padding-top: 17px;
}

.language li {
  color: #f5f5ff;
  font-size: 15px;
  line-height: 24px;
  padding-top: 17px;
}

#lan-title {
  color: #9490ff;
  font-weight: 500;
  font-size: 12px;
}

#fram-title {
  color: #9490ff;
  font-weight: 500;
  font-size: 12px;
}

#skill-title {
  color: #9490ff;
  font-weight: 500;
  font-size: 12px;
}

.wrapii {
  align-items: center;
  justify-content: center;
  height: 65%;
  margin-top: -67%;
  flex-direction: row;
  width: 90%;
  left: 3.5em;
  top: 36em;
}

.work {
  display: flex;
  flex-direction: row;
  left: 40em;
}

.work1 {
  display: flex;
  flex-direction: row;
  right: 8em;
}

.recent {
  font-size: 64px;
  line-height: 114px;
  color: #9390ff;
  top: 5em;
  right: 8em;
}

.work img,
.work1 img {
  padding-right: 1em;
  height: 30%;
  padding-top: 2em;
}

.work p,
.work1 p {
  font-weight: 500;
  font-size: 25px;
  line-height: 32px;
  color: #a2a3ae;
}

.social-icons img {
  padding-right: 1.45em;
}

.social-icons {
  left: 17em;
}

.line2 {
  top: 13%;
  right: 10%;
  height: 10px;
  width: 100%;
  border-bottom: 2px solid #646369;
}

.line3 {
  top: 35%;
  right: -2%;
  height: 10px;
  width: 95%;
  border-bottom: 2px solid #646369;
}

.wrapiii {
  height: 60%;
  width: 80%;
  margin-left: 0.83em;
  bottom: 25em;
  left: 3.6em;
  flex-direction: row;
}

.wrapiii .project-sect,
.wrapv .project-sect2 {
  width: 35%;
  height: 80%;
  left: 5em;
  bottom: 1.3em;
}

.wrapiv .project-sect1,
.wrapvi .project-sect3 {
  width: 35%;
  height: 80%;
  right: 5em;
  bottom: 1.3em;
}

.wrapiii img,
.wrapiv img,
.wrapv img,
.wrapvi img {
  width: 55%;
  height: 120%;
  bottom: 5em;
}

.project-title,
.project-title1,
.project-title2,
.project-title3 {
  font-weight: 500;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
}

.project-des,
.project-des1,
.project-des2,
.project-des3 {
  font-size: 20px;
  line-height: 28px;
  color: #dfe1e6;
}

.wrapiii li,
.wrapiv li,
.wrapv li,
.wrapvi li {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  float: left;
  padding: 15px;
  border-right: 1px solid #555;
  right: 2em;
  text-align: left;
}

.wrapiv {
  height: 60%;
  width: 80%;
  margin-left: 0.83em;
  bottom: 26em;
  left: 3.6em;
  flex-direction: row-reverse;
}

.wrapv {
  height: 60%;
  width: 80%;
  margin-left: 0.83em;
  bottom: 27.5em;
  flex-direction: row;
  left: 3.6em;
}

.wrapvi {
  height: 60%;
  width: 80%;
  margin-left: 0.83em;
  bottom: 27em;
  flex-direction: row-reverse;
  left: 3.6em;
}

.contact {
  height: 140%;
  bottom: 10em;
  align-items: center;
  justify-content: center;
}

.contact h2 {
  display: none;
}

.contact h3 {
  font-weight: 500;
  font-size: 40px;
  line-height: 24px;
  color: #9390ff;
  bottom: 8em;
}

.foot-text {
  font-size: 20px;
  line-height: 28px;
  color: #f5f5ff;
  width: 50%;
  height: 20%;
  text-align: center;
  bottom: 16em;
}

input,
.form-text {
  width: 100%;
  height: 2em;
  margin-left: -1em;
}

form {
  width: 50%;
  height: 50%;
  bottom: 9em;
}

.form-text1 textarea {
  width: 100%;
  height: 148px;
  font-size: 15px;
  line-height: 24px;
  margin-left: -1.7em;
}

.contact li {
  margin-bottom: 4%;
}

fieldset input {
  width: 45%;
  margin-right: 2.5em;
}

fieldset {
  width: 100%;
  left: 0.7em;
  border: #191765;
}

.side {
  display: none;
}

.ending {
  top: 5em;
  width: 100%;
  flex-direction: row;
  justify-content: center;
}

.line-foot {
  border-bottom: 2px solid #3a3837;
  width: 100%;
  top: 4em;
}

.social-icons-2 img {
  padding-right: 0.9em;
}

.social-icons-2 {
  top: 1.5em;
  right: 1em;
}

.ending p {
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
  left: 2em;
}

.circle {
  background-image: url(images/Ellipse\ 18.svg);
  background-color: white;
  width: 180px;
  height: 184px;
  z-index: 7;
  filter: blur(40px);
  top: 24%;
  left: 4em;
}

.eclipse {
  width: 226px;
  height: 226px;
  z-index: 7;
  background: #edecff;
  filter: blur(50px);
  top: -7em;
  right: -12em;
}

.project-img {
  background-image: url(images/Ellipse\ 19.svg);
  background-color: #edecff;
  width: 57.53px;
  height: 700.92px;
  z-index: 7;
  filter: blur(50px);
  top: -12%;
  right: 250%;
  transform: rotate(-36.38deg);
}

.project-img1 {
  background-image: url(images/Ellipse\ 19.svg);
  background-color: #edecff;
  width: 108px;
  height: 402px;
  z-index: 7;
  filter: blur(50px);
  top: 20%;
  left: 270%;
  transform: matrix(-0.84, -0.54, -0.54, 0.84, 0, 0);
}

.project-img2 {
  background-image: url(images/Ellipse\ 21.svg);
  background-color: rgba(237, 236, 255, 0.3);
  width: 308.61px;
  height: 155px;
  z-index: 7;
  filter: blur(20px);
  top: 60%;
  left: -200%;
}

.project-img3 {
  background-image: url(images/Ellipse\ 22.svg);
  background-color: #edecff;
  width: 246.19px;
  height: 916.04px;
  z-index: 7;
  filter: blur(50px);
  transform: matrix(-0.26, 0.97, 0.97, 0.26, 0, 0);
  top: -135%;
  left: 300%;
}

@media screen and (max-width: 376px) {
  body {
    height: 0;
  }

  .social-icons-2 {
    top: 0;
    right: 0;
  }

  header p {
    padding-left: 2em;
    margin-left: -1.5em;
  }

  .ending p {
    left: 0;
  }

  .foot-button {
    top: 0;
    left: 0;
  }

  fieldset {
    display: none;
  }

  .grid-wrap {
    width: 375px;
    height: 5415px;
  }

  .form-last {
    display: none;
  }

  .wrapiii .project-sect,
  .wrapiv .project-sect1,
  .wrapv .project-sect2,
  .wrapvi .project-sect3 {
    width: auto;
    left: 0;
  }

  .work1 {
    display: none;
  }

  .landiing-text {
    display: block;
  }

  .nav-img {
    display: block;
    background-image: url(images/Icon\ -\ Menu.png);
    height: 50px;
    background-repeat: no-repeat;
    width: 60px;
    top: -1.4em;
    left: -10em;
  }

  nav a {
    display: none;
  }

  .wrap {
    height: 100%;
  }

  .wrapi {
    width: 100%;
    height: 70%;
    left: 0;
    flex-direction: column;
  }

  .wrapii {
    align-items: center;
    justify-content: center;
    height: 60%;
    margin-top: -60%;
    top: 0;
    left: 0;
    flex-direction: column;
  }

  .wrapiii {
    height: 100%;
    width: 91%;
    margin-left: 0.83em;
    bottom: 20em;
    left: 0;
  }

  .wrapiv {
    height: 100%;
    width: 91%;
    margin-left: 0.83em;
    bottom: 17.5em;
    left: 0;
  }

  .wrapv {
    height: 100%;
    width: 91%;
    margin-left: 0.83em;
    bottom: 15em;
    left: 0;
  }

  .wrapvi {
    height: 100%;
    width: 91%;
    margin-left: 0.83em;
    bottom: 13em;
    left: 0;
  }

  .name {
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.37px;
    color: #7d73fc;
  }

  .titles {
    top: -20px;
    font-weight: 520;
    font-size: 38px;
    line-height: 44px;
    text-align: center;
    color: #edecff;
  }

  .second-text {
    top: 10px;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #c8c8d4;
    width: 100%;
  }

  .circle {
    width: 160px;
    height: 160px;
    top: 9%;
    left: -7em;
  }

  .line1 {
    top: 4.5%;
    left: 7%;
    height: 10px;
    width: 87%;
    border-bottom: 2px solid #646369;
  }

  .skill {
    top: 15em;
    right: 14em;
    padding-right: 0;
  }

  .frame {
    left: 11.5em;
    top: -16em;
  }

  .language {
    top: -1em;
  }

  .line2 {
    top: 47%;
    right: 55%;
    height: 10px;
    width: 87%;
  }

  .social-icons img {
    padding-right: 0.75em;
  }

  .social-icons {
    bottom: 0;
    left: 2em;
  }

  .work {
    display: flex;
    flex-direction: row;
    bottom: -10%;
    left: 1em;
  }

  .work img {
    padding-right: 1em;
    height: 30%;
    padding-top: 2em;
  }

  .recent {
    top: 1em;
    right: -0.8em;
    font-weight: 500;
    font-size: 45px;
    line-height: 52px;
    align-items: center;
    color: #9490ff;
    display: block;
  }

  .line3 {
    top: 30%;
    height: 10px;
    width: 90%;
    border-bottom: 2px solid #646369;
  }

  .project-title {
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    margin-top: 2em;
  }

  .project-des {
    color: #dcdce8;
  }

  .wrapiii li {
    float: left;
    padding: 15px;
    border-right: 1px solid #555;
    right: 3em;
    text-align: left;
  }

  #list-last {
    border-right: 1px solid #191765;
  }

  .project-img {
    width: 39.61px;
    height: 482.47px;
    top: 15%;
    right: 20%;
  }

  .eclipse {
    width: 68px;
    height: 68px;
    top: 2em;
    right: -3em;
  }

  .wrapiv img,
  .wrapiii img,
  .wrapv img,
  .wrapvi img {
    width: 327px;
    height: 236px;
    top: 1.75em;
  }

  .project-title1 {
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
    margin-top: 2em;
  }

  .project-des1 {
    font-size: 20px;
    line-height: 28px;
    color: #dcdce8;
  }

  .wrapiv li {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
    float: left;
    padding: 15px;
    border-right: 1px solid #555;
    right: 2em;
    text-align: left;
  }

  #list-last1 {
    border-right: 1px solid #191765;
  }

  .project-img1 {
    width: 70.61px;
    height: 261.47px;
    z-index: 7;
    top: 20%;
    left: 80%;
  }

  .project-title2 {
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
    margin-top: 2em;
  }

  .project-des2 {
    font-size: 20px;
    line-height: 28px;
    color: #dcdce8;
  }

  .wrapv li {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
    float: left;
    padding: 15px;
    border-right: 1px solid #555;
    right: 2em;
    text-align: left;
  }

  #list-last2 {
    border-right: 1px solid #191765;
  }

  .project-img2 {
    top: 30%;
    left: -43%;
  }

  .project-title3 {
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
    margin-top: 2em;
  }

  .project-des3 {
    font-size: 20px;
    line-height: 28px;
    color: #dcdce8;
  }

  .wrapvi li {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
    float: left;
    padding: 15px;
    border-right: 1px solid #555;
    right: 2em;
    text-align: left;
  }

  #list-last3 {
    border-right: 1px solid #191765;
  }

  .project-img3 {
    width: 101.29px;
    height: 377.04px;
    top: 20%;
    left: 108%;
  }

  .wrapi ul {
    width: 50%;
    padding-right: 0;
  }

  .contact {
    height: 120%;
    bottom: 10em;
  }

  .contact ul {
    align-items: center;
    padding: 0;
    margin: 0;
  }

  .contact li {
    margin-bottom: 7%;
    width: 100%;
  }

  .foot-list,
  .social-icons-2 {
    display: flex;
    justify-content: center;
  }

  .form-text1 textarea {
    width: 99%;
    height: 148px;
    margin-left: 0;
  }

  input,
  .form-text {
    width: 99%;
    height: 40px;
    margin-left: 0;
  }

  .contact h2 {
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    color: #9390ff;
    display: block;
    bottom: 1.9em;
  }

  .contact h3 {
    display: none;
  }

  .foot-text {
    font-size: 16px;
    line-height: 24px;
    width: 90%;
    height: 105px;
    bottom: 5em;
  }

  .ending {
    top: 5em;
    width: 100%;
  }

  .line-foot {
    border-bottom: 2px solid #3a3837;
    bottom: 2em;
  }

  form {
    width: 85%;
    height: 30%;
    bottom: 5em;
  }
}
