body {
  background-color: #191765;
}

.wrap {
  display: flex;
  flex-direction: column;
}

@media all and (max-width: 375px) {
  .wrap {
    flex-wrap: wrap;
  }

  header {
    flex-direction: column;
  }

  header p {
    float: left;
    padding-left: 2em;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 16px;
    color: #fff;
    width: auto;
    margin-left: -1.5em;
  }

  .name {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.37px;
    color: #7d73fc;
  }

  nav {
    background-image: url(images/Icon\ -\ Menu.png);
    height: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 60px;
    position: absolute;
    right: 0;
    margin-right: 1em;
  }

  .titles {
    position: relative;
    top: -20px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 520;
    font-size: 38px;
    line-height: 44px;
    text-align: center;
    color: #edecff;
  }

  .second-text {
    position: relative;
    top: 10px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #c8c8d4;
  }

  .circle {
    background-image: url(images/Ellipse\ 18.svg);
    background-color: #edecff;
    background-size: cover;
    position: absolute;
    width: 160px;
    height: 160px;
    z-index: -7;
    filter: blur(40px);
    left: -25%;
    top: 15%;
  }

  .line1 {
    position: absolute;
    top: 70%;
    left: 10%;
    height: 10px;
    width: 80%;
    border-bottom: 3px solid #646369;
  }
}
